@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

@media (max-width: 991px) {
  a, a:visited {
    color: #fff;
  }
}

a:hover {
  text-decoration: none;
  color: #000;
}

@media (max-width: 991px) {
  a:hover {
    color: #fff;
  }
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  height: 65px;
  line-height: 65px;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid silver;
  background-image: url(../img/icon/logo.png);
  background-size: 60px;
  background-repeat: no-repeat;
  z-index: 10;
}

@media (max-width: 575px) {
  .header {
    background-image: none;
  }
}

.header .nav-list {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  top: 0;
  left: 0;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .header .nav-list {
    display: none;
    padding: 0;
  }
}

.header .nav-list-item {
  margin-left: 40px;
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1200px) {
  .header .nav-list-item {
    font-size: 1em;
    margin-left: 25px;
  }
}

@media (max-width: 1199px) {
  .header .nav-list-item {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .header .nav-list-item {
    letter-spacing: 2px;
    margin: 10px 0 0 0;
  }
}

@media (max-width: 575px) {
  .header .nav-list-item {
    letter-spacing: 1px;
    margin-top: 0;
  }
}

.header .nav-list-item:hover {
  -webkit-box-shadow: inset 0px 3px 0px 0px #949393;
          box-shadow: inset 0px 3px 0px 0px #949393;
}

@media (max-width: 991px) {
  .header .nav-list-item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    text-decoration: underline;
  }
}

.header .nav-list-item:hover:last-child {
  -webkit-box-shadow: inset 0px 3px 0px 0px #f09c02;
          box-shadow: inset 0px 3px 0px 0px #f09c02;
}

@media (max-width: 991px) {
  .header .nav-list-item:hover:last-child {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.header .nav-list-item:first-child {
  margin-left: 0;
}

.header .nav-list-item .nav-link:hover,
.header .nav-list-item .nav-link {
  -webkit-transition: 2s;
  transition: 2s;
}

.header .show-menu {
  display: none;
  height: 250px;
  margin-top: 65px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.1em;
  line-height: 40px;
}

@media (max-width: 991px) {
  .header .show-menu {
    display: block;
  }
}

@media (max-width: 575px) {
  .header .show-menu {
    font-size: 1em;
  }
}

@media (max-width: 450px) {
  .header .show-menu {
    font-size: 0.9em;
  }
}

.header .header-menu {
  display: none;
  position: absolute;
  top: 15px;
  left: 48%;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 991px) {
  .header .header-menu {
    display: inline-block;
  }
}

@media (max-width: 575px) {
  .header .header-menu {
    background-image: none;
    left: 47%;
  }
}

.header .header-menu img {
  width: 30px;
  height: 30px;
}

.header .header-menu-open {
  display: none;
}

.header .header-menu-close {
  display: none;
}

.header .header-menu .active {
  display: block;
}

.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 20;
  -webkit-transform: translateY(-44.5%) scale(0);
          transform: translateY(-44.5%) scale(0);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  line-height: normal;
}

.popup.active {
  display: block;
  -webkit-transform: translate(0%) scale(100%);
          transform: translate(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.popup-wrapper .popup-body {
  margin: auto;
  width: 35%;
  height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(135deg, #f9f9f9, #ececec, white);
  padding: 40px 20px;
  text-align: center;
  cursor: auto;
}

@media (max-width: 1350px) {
  .popup-wrapper .popup-body {
    padding: 20px;
    font-size: 0.8em;
    height: 370px;
  }
}

@media (max-width: 1024px) {
  .popup-wrapper .popup-body {
    padding: 10px;
    height: 350px;
  }
}

@media (max-width: 997px) {
  .popup-wrapper .popup-body {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .popup-wrapper .popup-body {
    width: 45%;
  }
}

@media (max-width: 575px) {
  .popup-wrapper .popup-body {
    width: 55%;
  }
}

@media (max-width: 470px) {
  .popup-wrapper .popup-body {
    width: 65%;
  }
}

@media (max-width: 400px) {
  .popup-wrapper .popup-body {
    width: 75%;
  }
}

@media (max-width: 320px) {
  .popup-wrapper .popup-body {
    width: 80%;
  }
}

.popup-wrapper .popup-body h3 {
  font-size: 1.3em;
  margin: 10px;
}

@media (max-width: 1199px) {
  .popup-wrapper .popup-body h3 {
    font-size: 1.1em;
  }
}

@media (max-width: 997px) {
  .popup-wrapper .popup-body h3 {
    font-size: 1em;
  }
}

.popup-wrapper .popup-body input {
  display: block;
  margin: 15px auto;
  padding: 10px;
  width: 90%;
  height: 55px;
  border: 1px solid black;
  background: linear-gradient(45deg, #f2f2f2, #ececec, #e9eae3);
}

@media (max-width: 1350px) {
  .popup-wrapper .popup-body input {
    height: 40px;
    margin: 10px auto;
  }
}

.popup-wrapper .popup-body input:focus {
  outline: none;
}

.popup-wrapper .popup-body input:last-child {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.popup-wrapper .popup-body p {
  font-size: 0.8em;
  margin-top: 15px;
  padding: 10px;
}

@media (max-width: 1250px) {
  .popup-wrapper .popup-body p {
    font-size: 0.7em;
    margin-top: 10px;
  }
}

@media (max-width: 1024px) {
  .popup-wrapper .popup-body p {
    margin-top: 0;
  }
}

.popup-wrapper .popup-close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 2em;
  cursor: pointer;
  color: #fff;
}

.main {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 65px;
}

.social-net-fixed {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 30%;
  right: 18px;
  z-index: 1;
}

@media (max-width: 767px) {
  .social-net-fixed {
    display: none;
  }
}

.social-net-fixed .social-net-img {
  margin-bottom: 45px;
  width: 26px;
  height: 26px;
}

.video-block .video-container {
  position: relative;
  margin: 0 60px 0;
  width: 100wh;
  height: 75vh;
  overflow: hidden;
}

@media (max-width: 991px) {
  .video-block .video-container {
    height: 69vh;
  }
}

@media (max-width: 768px) {
  .video-block .video-container {
    height: 49vh;
    margin: 0;
  }
}

@media (max-width: 575px) {
  .video-block .video-container {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .video-block .video-container {
    height: 230px;
  }
}

@media (max-width: 375px) {
  .video-block .video-container {
    height: 200px;
  }
}

@media (max-width: 320px) {
  .video-block .video-container {
    height: 180px;
  }
}

.video-block .video-container .video-body {
  position: absolute;
  top: -80px;
  left: 0;
}

@media (max-width: 1260px) {
  .video-block .video-container .video-body {
    top: -60px;
  }
}

@media (max-width: 1200px) {
  .video-block .video-container .video-body {
    top: 0px;
  }
}

.video-block .video-container .video-body .video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-block .banner {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 35px;
  font-size: 0.8em;
  margin-top: 10px;
}

@media (max-width: 1425px) {
  .video-block .banner {
    font-size: 0.7em;
  }
}

@media (max-width: 767px) {
  .video-block .banner {
    font-size: 0.5em;
    line-height: 30px;
  }
}

@media (max-width: 575px) {
  .video-block .banner {
    font-size: 0.4em;
    line-height: 20px;
  }
}

@media (max-width: 320px) {
  .video-block .banner {
    font-size: 0.3em;
  }
}

.video-block .banner h1 {
  font-weight: 500;
}

.video-block .banner hr {
  margin: 0;
  width: 600px;
}

@media (max-width: 1200px) {
  .video-block .banner hr {
    width: 540px;
  }
}

@media (max-width: 1199px) {
  .video-block .banner hr {
    width: 490px;
  }
}

@media (max-width: 767px) {
  .video-block .banner hr {
    width: 400px;
  }
}

@media (max-width: 575px) {
  .video-block .banner hr {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .video-block .banner hr {
    width: 230px;
  }
}

.video-block .banner .company-name {
  font-size: 1.8em;
}

.about-company-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  margin: 0 60px 0;
}

@media (max-width: 575px) {
  .about-company-part1 {
    margin: 0 auto;
  }
}

.about-company-part1 .company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4%;
}

@media (max-width: 991px) {
  .about-company-part1 .company-info {
    display: block;
  }
}

.about-company-part1 .company-info .common-photo {
  display: none;
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .about-company-part1 .company-info .common-photo {
    display: block;
  }
}

@media (max-width: 767px) {
  .about-company-part1 .company-info .common-photo {
    font-size: 1em;
  }
}

@media (max-width: 575px) {
  .about-company-part1 .company-info .common-photo {
    font-size: 0.9em;
  }
}

@media (max-width: 460px) {
  .about-company-part1 .company-info .common-photo {
    font-size: 0.8em;
  }
}

.about-company-part1 .company-info .common-photo .common-photo_container {
  width: 80%;
  height: 420px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .about-company-part1 .company-info .common-photo .common-photo_container {
    width: 90%;
    height: 380px;
  }
}

@media (max-width: 575px) {
  .about-company-part1 .company-info .common-photo .common-photo_container {
    width: 100%;
    height: 340px;
  }
}

.about-company-part1 .company-info .common-photo .common-photo_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.about-company-part1 .company-info .director-img {
  max-width: 20%;
  max-height: 600px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .about-company-part1 .company-info .director-img {
    max-width: 18%;
    font-size: 1.4em;
  }
}

@media (max-width: 1199px) {
  .about-company-part1 .company-info .director-img {
    font-size: 1.3em;
  }
}

@media (max-width: 991px) {
  .about-company-part1 .company-info .director-img {
    display: none;
  }
}

.about-company-part1 .company-info .director-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  font-weight: 500;
}

.about-company-part1 .company-info .main-info {
  text-align: center;
  font-size: 1.3em;
  line-height: 35px;
  margin: 40px 10px 0px;
  padding: 20px;
  font-style: italic;
}

@media (max-width: 1200px) {
  .about-company-part1 .company-info .main-info {
    font-size: 1.1em;
    line-height: 25px;
  }
}

@media (max-width: 991px) {
  .about-company-part1 .company-info .main-info {
    margin: 20px 0 0 0;
  }
}

.about-company-part1 .company-info .main-info-line {
  width: 150px;
}

.about-company-part1 .company-info .main-info .spoiler-click {
  cursor: pointer;
  font-style: normal;
}

@media (max-width: 1200px) {
  .about-company-part1 .company-info .main-info .spoiler-click {
    font-size: 1em;
  }
}

.about-company-part1 .spoiler-text {
  display: none;
  margin: 0 auto 20px auto;
  max-width: 80%;
  font-size: 1.4em;
  text-align: center;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 1.3em;
}

@media (max-width: 1200px) {
  .about-company-part1 .spoiler-text {
    font-size: 1.1em;
  }
}

@media (max-width: 575px) {
  .about-company-part1 .spoiler-text {
    font-size: 0.9em;
  }
}

.about-company-part1 .spoiler-text-line {
  width: 600px;
}

@media (max-width: 1200px) {
  .about-company-part1 .spoiler-text-line {
    width: 500px;
  }
}

@media (max-width: 1199px) {
  .about-company-part1 .spoiler-text-line {
    width: 450px;
  }
}

@media (max-width: 991px) {
  .about-company-part1 .spoiler-text-line {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .about-company-part1 .spoiler-text-line {
    width: 180px;
  }
}

@media (max-width: 575px) {
  .about-company-part1 .spoiler-text-line {
    width: 120px;
  }
}

.separate-block, .first-separate {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  background-image: url(../img/separate_img/separate1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 1200px) {
  .separate-block, .first-separate {
    height: 350px;
  }
}

@media (max-width: 1199px) {
  .separate-block, .first-separate {
    height: 300px;
  }
}

@media (max-width: 991px) {
  .separate-block, .first-separate {
    height: 280px;
    background-size: cover;
    background-attachment: scroll;
  }
}

@media (max-width: 575px) {
  .separate-block, .first-separate {
    height: 230px;
  }
}

@media (max-width: 320px) {
  .separate-block, .first-separate {
    height: 200px;
  }
}

.title {
  font-size: 1.7em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 1.6em;
  }
}

@media (max-width: 1199px) {
  .title {
    font-size: 1.5em;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 1.4em;
  }
}

.title .line-one {
  width: 280px;
}

@media (max-width: 1200px) {
  .title .line-one {
    width: 270px;
  }
}

@media (max-width: 1199px) {
  .title .line-one {
    width: 250px;
  }
}

.title .line-two {
  width: 400px;
}

@media (max-width: 1200px) {
  .title .line-two {
    width: 360px;
  }
}

@media (max-width: 1199px) {
  .title .line-two {
    width: 330px;
  }
}

.about-company-part2 .services {
  width: 80%;
  margin: 60px auto;
}

@media (max-width: 1200px) {
  .about-company-part2 .services {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .about-company-part2 .services {
    margin: 50px auto;
  }
}

.about-company-part2 .services .services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 575px) {
  .about-company-part2 .services .services-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.about-company-part2 .services .services-block .type-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin: 25px 0;
}

@media (max-width: 1200px) {
  .about-company-part2 .services .services-block .type-services {
    width: 45%;
    margin: 0 15px;
  }
}

@media (max-width: 767px) {
  .about-company-part2 .services .services-block .type-services {
    width: 43%;
  }
}

@media (max-width: 575px) {
  .about-company-part2 .services .services-block .type-services {
    width: 80%;
  }
}

.about-company-part2 .services .services-block .type-services:last-child {
  position: absolute;
  right: 0;
}

@media (max-width: 575px) {
  .about-company-part2 .services .services-block .type-services:last-child {
    position: relative;
    margin-top: 40px;
  }
}

.about-company-part2 .services .services-block .type-services .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4em;
  font-weight: 500;
  margin: 0 0 15px 30px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .about-company-part2 .services .services-block .type-services .heading {
    font-size: 1.1em;
  }
}

@media (max-width: 575px) {
  .about-company-part2 .services .services-block .type-services .heading {
    margin: 0 0 10px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-company-part2 .services .services-block .type-services .heading img {
  width: 50px;
  height: 50px;
}

@media (max-width: 575px) {
  .about-company-part2 .services .services-block .type-services .heading img {
    display: none;
  }
}

.about-company-part2 .services .services-block .type-services .heading-text {
  margin-top: 15px;
  margin-left: 8px;
}

@media (max-width: 575px) {
  .about-company-part2 .services .services-block .type-services .heading-text {
    margin: 0;
  }
}

.about-company-part2 .services .services-block .service-text {
  font-size: 1.2em;
}

@media (max-width: 1200px) {
  .about-company-part2 .services .services-block .service-text {
    font-size: 1.1em;
  }
}

@media (max-width: 767px) {
  .about-company-part2 .services .services-block .service-text {
    font-size: 1em;
  }
}

.about-company-part2 .counter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .about-company-part2 .counter-block {
    font-size: 1.2em;
  }
}

@media (max-width: 1199px) {
  .about-company-part2 .counter-block {
    font-size: 1.1em;
  }
}

@media (max-width: 767px) {
  .about-company-part2 .counter-block {
    font-size: 0.9em;
  }
}

@media (max-width: 400px) {
  .about-company-part2 .counter-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-company-part2 .counter-block .counter-column {
  padding: 0 50px;
}

@media (max-width: 767px) {
  .about-company-part2 .counter-block .counter-column {
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .about-company-part2 .counter-block .counter-column {
    padding: 0 15px;
  }
}

.about-company-part2 .counter-block .counter-column .counter {
  font-size: 4em;
  font-weight: bold;
  color: #8b8b8b;
}

.about-company-part2 .counter-block .counter-column .counter:hover {
  color: orange;
}

.about-company-part2 .love-work-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
  font-weight: 500;
  text-transform: uppercase;
  color: #8b8b8b;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .about-company-part2 .love-work-text {
    font-size: 1.2em;
  }
}

@media (max-width: 1199px) {
  .about-company-part2 .love-work-text {
    font-size: 1.1em;
  }
}

@media (max-width: 767px) {
  .about-company-part2 .love-work-text {
    font-size: 0.9em;
    padding: 0 10px;
  }
}

@media (max-width: 575px) {
  .about-company-part2 .love-work-text {
    display: none;
  }
}

.about-company-part2 .love-work-text .change-color {
  color: orange;
  margin-bottom: 10px;
}

.second-separate {
  background-image: url(../img/separate_img/separate2.jpg);
  margin-bottom: 60px;
}

.portfolio {
  background: linear-gradient(135deg, #f9f9f9, #ececec, white);
  text-align: center;
}

.portfolio .grid-portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.5em;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .portfolio .grid-portfolio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.portfolio .grid-portfolio .grid-case {
  position: relative;
  cursor: pointer;
  height: 400px;
  overflow: hidden;
  line-height: 25px;
}

@media (max-width: 1200px) {
  .portfolio .grid-portfolio .grid-case {
    height: 320px;
  }
}

@media (max-width: 1199px) {
  .portfolio .grid-portfolio .grid-case {
    height: 280px;
  }
}

@media (max-width: 575px) {
  .portfolio .grid-portfolio .grid-case {
    height: 250px;
  }
}

@media (max-width: 320px) {
  .portfolio .grid-portfolio .grid-case {
    height: 220px;
  }
}

.portfolio .grid-portfolio .grid-case:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  z-index: 2;
}

.portfolio .grid-portfolio .grid-case:hover:before {
  background-color: rgba(0, 0, 0, 0.7);
}

.portfolio .grid-portfolio .grid-case:hover .grid-img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio .grid-portfolio .grid-case img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.portfolio .grid-portfolio .grid-case .grid-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  z-index: 3;
}

@media (max-width: 400px) {
  .portfolio .grid-portfolio .grid-case .grid-title {
    font-size: 1em;
  }
}

.portfolio .grid-portfolio .grid-case .grid-title span {
  display: block;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.portfolio .grid-portfolio .grid-case .grid-title span:first-of-type {
  margin-bottom: 15px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.portfolio .grid-portfolio .grid-case:hover .grid-title > span {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.portfolio .all-portfolio {
  display: inline-block;
  margin-bottom: 60px;
  padding: 12px 22px;
  text-transform: uppercase;
  font-weight: 600;
  border: 3px solid black;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: black;
}

@media (max-width: 997px) {
  .portfolio .all-portfolio {
    font-size: 0.9em;
  }
}

@media (max-width: 767px) {
  .portfolio .all-portfolio {
    padding: 10px 15px;
    margin-bottom: 50px 0;
  }
}

@media (max-width: 575px) {
  .portfolio .all-portfolio {
    font-size: 0.8em;
    padding: 10px 15px;
  }
}

@media (max-width: 450px) {
  .portfolio .all-portfolio {
    font-size: 0.7em;
    margin-bottom: 40px 0;
  }
}

.portfolio .all-portfolio:hover {
  background-color: black;
  color: #fff;
}

.third-separate {
  background-image: url(../img/separate_img/separate3.jpeg);
  background-position: top;
}

.final-block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 8%;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: left;
  padding: 3% 0;
}

@media (max-width: 1200px) {
  .final-block-title {
    margin: 0 8%;
  }
}

@media (max-width: 575px) {
  .final-block-title {
    display: none;
  }
}

.final-block-title .left-part {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;
  padding-right: 40px;
  border-right: 2px solid black;
  font-size: 2.2em;
  line-height: 1.4em;
}

@media (max-width: 1199px) {
  .final-block-title .left-part {
    font-size: 2em;
  }
}

@media (max-width: 1199px) {
  .final-block-title .left-part {
    font-size: 1.7em;
    margin-right: 40px;
  }
}

.final-block-title .right-part {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  line-height: 1.8em;
  font-size: 1.1em;
}

@media (max-width: 1199px) {
  .final-block-title .right-part {
    font-size: 1em;
  }
}

@media (max-width: 767px) {
  .final-block-title .right-part {
    font-size: 0.8em;
  }
}

.final-block .map-block {
  padding: 60px;
}

@media (max-width: 1200px) {
  .final-block .map-block {
    padding: 45px 60px;
  }
}

@media (max-width: 1199px) {
  .final-block .map-block {
    padding: 40px 60px;
  }
}

@media (max-width: 767px) {
  .final-block .map-block {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .final-block .map-block {
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .final-block .map-block {
    padding: 10px;
  }
}

.final-block .map-block .map {
  width: 100%;
  height: 380px;
}

@media (max-width: 1200px) {
  .final-block .map-block .map {
    height: 330px;
  }
}

@media (max-width: 1199) {
  .final-block .map-block .map {
    height: 290px;
  }
}

@media (max-width: 767px) {
  .final-block .map-block .map {
    height: 250px;
  }
}

.footer {
  width: 100%;
  padding: 40px 0;
  background: linear-gradient(135deg, #8c8d8c, #636767, #494949);
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

@media (max-width: 1200px) {
  .footer {
    font-size: 1.1em;
    padding: 30px 0;
  }
}

@media (max-width: 1199px) {
  .footer {
    padding: 25px 0;
  }
}

@media (max-width: 991px) {
  .footer {
    font-size: 1.2em;
  }
}

@media (max-width: 660px) {
  .footer {
    font-size: 1.1em;
  }
}

.footer .grid-contacts {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 30px auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(70px, auto);
  grid-gap: 2em;
}

@media (max-width: 1200px) {
  .footer .grid-contacts {
    width: 85%;
  }
}

@media (max-width: 991px) {
  .footer .grid-contacts {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.2em;
  }
}

@media (max-width: 520px) {
  .footer .grid-contacts {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.6em;
  }
}

.footer .grid-contacts .grid-block {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .grid-contacts .phone, .footer .grid-contacts .work-hours {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

@media (max-width: 991px) {
  .footer .grid-contacts .phone, .footer .grid-contacts .work-hours {
    border: none;
  }
}

@media (max-width: 767px) {
  .footer .grid-contacts .logo-block {
    display: none;
  }
}

.footer .grid-contacts .logo-block img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: content;
     object-fit: content;
}

.footer .grid-contacts .social-net-footer {
  display: none;
  padding: 0 5px;
}

@media (max-width: 767px) {
  .footer .grid-contacts .social-net-footer {
    display: block;
  }
}

.footer .grid-contacts .social-net-footer img {
  width: 30px;
  height: 30px;
  margin: 8px;
  cursor: pointer;
}

.footer .copy {
  font-size: 0.7em;
  padding-top: 30px;
}
/*# sourceMappingURL=style.css.map */